<!DOCTYPE html>
<!-- saved from url=(0028)http://www.soapboxderby.org/ -->
<html lang="en" class="js flexbox canvas canvastext webgl touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths wf-roboto-n3-active wf-roboto-i3-active wf-roboto-n4-active wf-roboto-i4-active wf-roboto-n5-active wf-roboto-i5-active wf-roboto-n7-active wf-roboto-i7-active wf-active"><!--<![endif]-->

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>STEM in Motion</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="Author" content="WhiteSpace Creative, http://www.whitespace-creative.com">
  <meta name="Designer" content="WhiteSpace Creative, http://www.whitespace-creative.com">

  <!-- Scripts -->
  <script>window.jQuery || document.write('<script src="/inc/js/jquery.min.js"><\/script>')</script>
	<script src="/js/webfont.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/modernizr.min.js"></script>
  <script src="/js/functions.js"></script>
  <script src="/js/jquery.countdown.min.js"></script>
  <script src="/js/jquery.mmenu.min.all.js"></script>
  <script id="SlickJS" type="text/javascript" src="/js/slick.min.js"></script>
  <script id="HomeJS" type="text/javascript" src="/js/home.js"></script>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/css/css">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/jquery.mmenu.all.css" rel="stylesheet" type="text/css">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link href="/css/base.css" rel="stylesheet" type="text/css">
  <link id="SlickCSS" rel="stylesheet" type="text/css" href="/css/slick.css">
  <link id="SlickCSSTheme" rel="stylesheet" type="text/css" href="/css/slick-theme.css">
  <link id="HomeCSS" rel="stylesheet" type="text/css" href="/css/home.css">
  <link rel="stylesheet" id="coToolbarStyle" href="chrome-extension://cjabmdjcfcfdmffimndhafhblfmpjdpe/toolbar/styles/placeholder.css" type="text/css">
  <script src="/js/scripts.js"></script>
</head>
<body>