{{> head}}
{{> navbar}}
<div class="node-1106 section-1106 type-textpage">


	<section class="sub-banners">
		<img src="/img/race.jpg"/>
    </section>
    <article id="content" role="article">

	<section id="interior">
		<div class="content">
			<nav><a href="/soapbox-derby-race"><span>Soapbox Derby Race</span></a><ul>
				<li class="navigation_1096 sd_nav" id="list_learn-more"><a   id="nav_learn-more">What is the Soapbox Derby?</a></li>
	      <li class="navigation_1095 sd_nav" id="list_learning-connection"><a   id="nav_learning-connection">The Learning Connection</a></li>

	    </ul>
	  </nav>
			  <div class="image-right"><span class="image"><img width="300"  height="225" src="/media/2059/track-photo_300x225.jpg" alt="Finish Line Bridge"/></span><span class="caption"><br /></span></div>

<div class="sd_page" id="default-page">
<h1>Soapbox Derby Race</h1>
  </div>
 <div class="sd_page" id="learning-connection">
 	<h1>The Learning Connection</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum </p>
 </div>
  <div class="sd_page" id="learn-more">
 	<h1>What is the Soapbox Derby?</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum </p>
 </div>
		</div>
	</section>

    </article>
</div>
{{> footer}}
