{{> head}}
{{> navbar}}
<div class="node-1125 section-1125 type-textpage">
    <section class="sub-banners">
    	<img src="/img/game.jpg"/>
    </section>
    <article id="content" role="article">

	<section id="interior">
		<div class="content">
			<h1>Store</h1>
			<div class="row">
				<div class="store_item col-xs-4 text-center">
					<img src="/img/store_marble.jpg" class="store-image">
					<h4>Marble Game</h4>
					<p>A game for the whole family! </p>
					<a class="btn btn-purchase">Buy for $$$</a>
				</div>
				<div class="store_item col-xs-4 text-center">
					<img src="/img/store_aleks.jpg" class="store-image">
					<h4>ALEKS Program</h4>
					<p>A game for the whole family! </p>
					<a class="btn btn-purchase">Buy for $$$</a>
				</div>
				<div class="store_item col-xs-4 text-center">
					<img src="/img/store_development.jpg" class="store-image">
					<h4>Professional Development Program</h4>
					<p>A game for the whole family! </p>
					<a class="btn btn-purchase">Buy for $$$</a>
				</div>
			</div>
		</div>
	</section>

    </article>

</div>
{{> footer}}

